html, body {
    margin: 0;
}
#app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#profileImage {
    width: 180px;
    border-radius: 90px;
    margin-bottom: 30px;
}
#message {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 80px;
}